// CONTACT
.contact-main-container {
    width: 70%;
    margin: auto;
    padding: 2rem 6rem;
}

.contact-heading {
    h1 {
        color: $black;
        font-weight: 900;
    }

    hr {
        height: 0.5rem;
        max-width: 3rem;
        background-color: $light-black;
        margin-top: 2rem;
        margin-left: 0;
    }
}

.contact-container {
    display: flex;
}

.contact-description {
    width: 50%;
    margin-right: 5rem;

    p {
        color: $black;
        padding-right: 1rem;
    }
}

.contact-form {
    form {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 900;
                color: $light-black;
            }

            input,
            textarea {
                margin: 0.8rem 0;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .contact-main-container {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .contact-main-container {
        width: 100%;
    }
}

@media screen and (max-width: 1013px) {
    .contact-description {
        display: none;
    }

    .contact-heading {

        h1 {
            text-align: center;
        }

        hr {
            margin: auto;
            max-width: 70%;
            margin-bottom: 3rem;
        }
    }

    .contact-form {
        width: 100%;
    }
}