header {
    background-color: $light-blue;
    display: block;
}

nav {
    width: 100%;
    margin: 0 2.5rem;
}

ul {
    display: flex;
}

.nav-mini-list {
    font-size: 0.7rem;
    padding: 0;
    position: absolute;
    top: 1%;

    li {
        padding: 0 0.9rem;
        border-right: 1px solid $white;

        a {
            color: $dark-white;
        }

        a:hover {
            color: $light-black;
        }
    }

    li:nth-child(first) {
        padding-left: 0;
    }

    li:nth-last-child(1) {
        border-right: none;
    }
}

.nav-main-list {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    font-size: 1.5rem;
    padding-left: 0.9rem;
    margin-right: auto;
    font-weight: 900;

    .slim-font {
        font-weight: 300;
        letter-spacing: -0.03rem;
        color: $dark-white;
    }
}

.responsive-nav {
    display: flex;
    align-items: center;
    margin-right: 4rem;

    li {
        padding: 0.9rem;
    }
}

.nav-toggle {
    display: none;
}

@media screen and (max-width: 1013px) {
    header {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $white;
    }

    .nav-mini-list,
    .responsive-nav {
        display: none;
        margin-top: 0;
    }

    .nav-toggle {
        display: block;
        font-size: 2rem;
        margin-right: 2rem;
        color: $white;
    }

    .responsive-nav.openup {
        width: 100%;
        display: block;
        position: absolute;
        top: 6rem;
        left: 0;
        background: $light-black;
        border-top: solid 1px $red;

        li {
            display: block;
            padding: 0;
        }

        a {
            display: block;
            color: $white;
            padding: 2.8rem;
            transition: 0.2s ease-in-out;
        }
    }
}