// SHOWCASE
.showcase {
    display: flex;
    margin: 3.5rem 3rem 3.5rem 6rem;
}

.welcome {
    background-color: $light-blue;
    width: 25%;
    padding: 2rem 2rem;

    .wrapper {

        span {
            font-size: 2rem;
        }

        hr {
            height: 0.5rem;
            max-width: 3rem;
            background-color: $white;
            margin-top: 1rem;
            margin-left: 0;
        }

        p {
            padding-right: 4rem;
            font-size: 1rem;
        }
    }
}

.design {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 9rem;

    .design-image>img {
        width: 100%;
        vertical-align: bottom;
    }

    .design-description {
        background-color: $dark-white;
        padding: 2rem 4rem;
        font-weight: 900;

        span {
            color: $black;
        }

        p {
            color: $black;
        }
    }
}

@media screen and (max-width: 1300px) {
    .welcome>.wrapper>span {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1180px) {
    .welcome>.wrapper>span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1013px) {
    .showcase {
        flex-direction: column;
        margin: 0;
    }

    .welcome {
        width: 100%;

        .wrapper {
            text-align: center;

            hr {
                max-width: 10rem;
                margin: 1rem auto;
            }

            p {
                padding: 0;
            }
        }
    }

    .design {
        width: 100%;
        margin: 0;
    }
}