@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.button {
    background-color: #000;
    border: 2px solid #fff;
    padding: 15px;
    transition: .5s;
}

.button:hover {
    background-color: rgb(158, 11, 109);
    border-color: #000;
    color: #fff;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: 1s ease-in-out;
}

.split.left {
    background: url('../img/dark-design-graphic-1820770.jpg') no-repeat center/cover;
}

.split.right {
    background: url('../img/contemporary-dark-data-669996.jpg') no-repeat center/cover;
}

/* Sliding */
.hover-left .left, .hover-right .right {
    width: 75%;
}

.hover-left .right, .hover-right .left {
    width: 25%;
}

/* Media Query */
@media (max-width: 1000px) {
    h1 {
        font-size: 2.5rem;
    }

    .left, .right {
        padding: 0 2rem;
    }
}

@media (max-width: 800px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .split {
        width: 100%;
    }
}

@media (max-height: 800px) {
    h1 {
        font-size: 2rem;
    }
}
